### 1. Intro

The primary purpose of this notebook is to explore and merge two distinct datasets obtained through web scraping the same website,but 2 different pages structure, using the Scrapy framework. These datasets are a treasure trove of information about vehicles. One dataset encompasses technical specifications of the vehicles, while the other focuses on dimension and weight specifications. Both datasets share three common columns: 'brand', 'car_id' and 'model.' Our mission in this notebook is to seamlessly merge these two datasets into one cohesive source of automotive knowledge, enabling us to gain deeper insights into these vehicles.

In [1]:
# import pandas into notebook
import pandas as pd

In [2]:
#reading .json into pandas dataframe objects
cars_data_sizes = pd.read_json('cars-data-sizes.json')
cars_data_tech = pd.read_json('cars-data-tech.json')

### 2. Exploring dataframes

Initial Overview - we will begin by examining the first few rows of each dataset using <dataframe_name>.head() to get an initial sense of the data. Check for column names, data types, and any missing values.

In [3]:
cars_data_sizes.head()

,car_id,brand,model,weight,height,width,length,wheelbase
0,16972,Honda,Honda CR-V 2.0i LS 2004,1473 kg,1710 mm,1785 mm,4635 mm,2630 mm
1,81391,Jeep,Jeep Grand Cherokee 6.4 V8 Trackhawk 2013,2431 kg,1749 mm,1954 mm,4846 mm,2915 mm
2,74149,Alfa Romeo,Alfa Romeo 8C Spider 2010,1650 kg,1308 mm,1894 mm,4381 mm,2646 mm
3,52740,Volkswagen,Volkswagen Polo 900 1975,685 kg,1345 mm,1560 mm,3605 mm,2330 mm
4,52741,Volkswagen,Volkswagen Polo 1100 S 1975,685 kg,1345 mm,1560 mm,3605 mm,2330 mm

In [4]:
cars_data_tech.head()

,brand,car_id,model,cylinders,transmission,drive_wheel,power,max_power_rpm,torque,max_torque_rpm,...,gear_5,gear_6,gear_7,gear_8,gear_9,gear_r,gear_final,front_tire,rear_tire,eng_capacity
0,Citroen,10296,Citroen C8 2.0i 16V Prestige 2008,"4, in line",5 speed manual transmission,front,138,6000 tpm,190 nm,4100 tpm,...,"0,80:1",None,None,None,None,"3,33:1","4,43:1",215/60r16,215/60r16,1998 cc
1,Audi,93088,Audi R8 Spyder V10 Performance quattro 2016,"10, v engine",7 speed automatic,front+rear,620,8000 tpm,580 nm,6600 tpm,...,"0,90:1","0,88:1","0,65:1",None,None,"2,65:1","3,59:1",245/35r19,295/35r19,5204 cc
2,Audi,93093,Audi R8 Coupe V10 Performance quattro 2016,"10, v engine",7 speed automatic,front+rear,620,8000 tpm,580 nm,6600 tpm,...,"0,90:1","0,88:1","0,65:1",None,None,"2,65:1","3,59:1",245/35r19,295/35r19,5204 cc
3,Audi,80384,Audi R8 Spyder V10 Plus quattro 2016,"10, v engine",7 speed automatic,front+rear,610,8250 tpm,560 nm,6500 tpm,...,"0,90:1","0,88:1","0,65:1",None,None,"2,65:1","3,59:1",245/35r19,295/35r19,5204 cc
4,Audi,69642,Audi RS7 Sportback 4.0 TFSI Performance quattr...,"8, v engine",8 speed automatic,front+rear,605,6100 tpm,750 nm,2500 tpm,...,"1,29:1","1,00:1","0,84:1","0,67:1",None,"3,32:1","3,08:1",275/30r21,275/30r21,3993 cc

In this cell, we examine the shape of our dataframe, which provides crucial information about its dimensions.This information is essential for various data manipulation and analysis tasks, as it helps us grasp the dataset's overall size and structure.

In [5]:
cars_data_sizes.shape

(82987, 8)

In [6]:
cars_data_tech.shape

(82996, 28)

From above we can conclude that car_data_sizes dataframe has 9 entries less than cars_data_tech dataframe.

We will use dataframe.info() function to gain a comprehensive overview of our dataset's structure and characteristics. This function provides valuable insights into several key aspects of the dataframe, including data types, non-null counts, etc.

In [7]:
cars_data_sizes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82987 entries, 0 to 82986
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   car_id     82987 non-null  int64
 1   brand      82987 non-null  object
 2   model      82987 non-null  object
 3   weight     82987 non-null  object
 4   height     82987 non-null  object
 5   width      82987 non-null  object
 6   length     82987 non-null  object
 7   wheelbase  82987 non-null  object
dtypes: int64(1), object(7)
memory usage: 5.1+ MB

We can conclude that cars_data_sizes has every cell populated with non-null value.

In [8]:
cars_data_tech.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82996 entries, 0 to 82995
Data columns (total 28 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   brand           82996 non-null  object
 1   car_id          82996 non-null  int64
 2   model           82996 non-null  object
 3   cylinders       82996 non-null  object
 4   transmission    82996 non-null  object
 5   drive_wheel     80557 non-null  object
 6   power           80510 non-null  object
 7   max_power_rpm   80557 non-null  object
 8   torque          80555 non-null  object
 9   max_torque_rpm  80534 non-null  object
 10  turbo           80141 non-null  object
 11  fuel            80554 non-null  object
 12  top_speed       80557 non-null  object
 13  acc_0_100       80557 non-null  object
 14  gear_1          53045 non-null  object
 15  gear_2          53110 non-null  object
 16  gear_3          53104 non-null  object
 17  gear_4          52698 non-null  object
 18  gear_5          47376 non-null  object
 19  gear_6          24212 non-null  object
 20  gear_7          7748 non-null   object
 21  gear_8          3885 non-null   object
 22  gear_9          1185 non-null   object
 23  gear_r          52770 non-null  object
 24  gear_final      54622 non-null  object
 25  front_tire      79974 non-null  object
 26  rear_tire       79972 non-null  object
 27  eng_capacity    82994 non-null  object
dtypes: int64(1), object(27)
memory usage: 17.7+ MB

We can see that first 5 columns have every cell populated (82996/82996). From there on there are different values. What is interesting to see is that for columns 20, 21 and 22 ('gear_7','gear_8' and 'gear_9' respectively) there are very few records which is consequence of that that not every car has 7,8 or 9speed gearbox (only most recent automatic sports cars).

In [9]:
len(cars_data_sizes['car_id'].unique())

74300

In [10]:
len(cars_data_tech['car_id'].unique())

74309

Here we can see that 'car_id' column contains 74300 and 74309 respectively. Again, we can conclude that cars_data_tech contains 9 entries more than cars_data_sizes. 
Furthermore, we can conclude that those 2 dataframes contain some duplicate values ( regarding 'car_id') column, so we could further inspect that.

In [11]:
duplicate_mask = cars_data_tech['car_id'].duplicated(keep=False)

In [12]:
duplicate_rows = cars_data_tech[duplicate_mask]

In [13]:
duplicate_rows

,brand,car_id,model,cylinders,transmission,drive_wheel,power,max_power_rpm,torque,max_torque_rpm,...,gear_5,gear_6,gear_7,gear_8,gear_9,gear_r,gear_final,front_tire,rear_tire,eng_capacity
0,Citroen,10296,Citroen C8 2.0i 16V Prestige 2008,"4, in line",5 speed manual transmission,front,138,6000 tpm,190 nm,4100 tpm,...,"0,80:1",None,None,None,None,"3,33:1","4,43:1",215/60r16,215/60r16,1998 cc
412,Toyota,16292,Toyota Hilux Dubbele Cabine 2.4 D-4D 4WD Execu...,"4, in line",6 speed automatic,front+rear,150,3400 tpm,400 nm,1600 tpm,...,"0,69:1","0,58:1",None,None,None,"3,73:1","4,10:1",265/60r18,265/60r18,2393 cc
418,Toyota,16291,Toyota Hilux Dubbele Cabine 2.4 D-4D 4WD Cool ...,"4, in line",6 speed manual transmission,front+rear,150,3400 tpm,400 nm,1600 tpm,...,"0,78:1","0,64:1",None,None,None,"4,06:1","3,58:1",265/65r17,265/65r17,2393 cc
419,Toyota,16292,Toyota Hilux Dubbele Cabine 2.4 D-4D 4WD Profe...,"4, in line",6 speed automatic,front+rear,150,3400 tpm,400 nm,1600 tpm,...,"0,69:1","0,58:1",None,None,None,"3,73:1","4,10:1",265/65r17,265/65r17,2393 cc
420,Toyota,16292,Toyota Hilux Dubbele Cabine 2.4 D-4D 4WD Profe...,"4, in line",6 speed manual transmission,front+rear,150,3400 tpm,400 nm,1600 tpm,...,"0,78:1","0,64:1",None,None,None,"4,06:1","3,58:1",265/65r17,265/65r17,2393 cc
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82985,Skoda,15834,Skoda Scala 1.0 TSI 110hp Greentech Ambition 2019,front,6 speed manual transmission,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,gasoline
82988,Skoda,15834,Skoda Scala 1.0 TSI 116hp Greentech Sport Busi...,front,7 speed automatic with double clutch,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,gasoline
82989,Skoda,15834,Skoda Scala 1.0 TSI 110hp Greentech Ambition 2019,front,7 speed automatic with double clutch,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,gasoline
82991,Skoda,15834,Skoda Scala 1.0 TSI 110hp Greentech Active 2019,front,6 speed manual transmission,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,gasoline
82992,Skoda,15834,Skoda Scala 1.0 TSI 110hp Greentech Sport Busi...,front,6 speed manual transmission,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,gasoline

In [14]:
duplicate_rows[duplicate_rows['car_id']==15834]['model']

48774       Ford Mondeo Wagon 2.0 TDCi 115hp Titanium 2010
82985    Skoda Scala 1.0 TSI 110hp Greentech Ambition 2019
82988    Skoda Scala 1.0 TSI 116hp Greentech Sport Busi...
82989    Skoda Scala 1.0 TSI 110hp Greentech Ambition 2019
82991      Skoda Scala 1.0 TSI 110hp Greentech Active 2019
82992    Skoda Scala 1.0 TSI 110hp Greentech Sport Busi...
Name: model, dtype: object

We will remove the columns we don't need from the "sizes" table and keep only the ones we need.

In [17]:
cars_data_sizes_2 = cars_data_sizes[['car_id','model', 'weight', 'height', 'width', 'length',
       'wheelbase']]

In [18]:
cars_data_sizes_2.head()

,car_id,model,weight,height,width,length,wheelbase
0,16972,Honda CR-V 2.0i LS 2004,1473 kg,1710 mm,1785 mm,4635 mm,2630 mm
1,81391,Jeep Grand Cherokee 6.4 V8 Trackhawk 2013,2431 kg,1749 mm,1954 mm,4846 mm,2915 mm
2,74149,Alfa Romeo 8C Spider 2010,1650 kg,1308 mm,1894 mm,4381 mm,2646 mm
3,52740,Volkswagen Polo 900 1975,685 kg,1345 mm,1560 mm,3605 mm,2330 mm
4,52741,Volkswagen Polo 1100 S 1975,685 kg,1345 mm,1560 mm,3605 mm,2330 mm

Now we will merge the two tables based on the matching of the columns 'car_id' and 'model'.

In [19]:
result = pd.merge(cars_data_tech, cars_data_sizes_2, how="left", on=['car_id', 'model'])

In [20]:
result.shape

(85181, 33)

In [21]:
len(result)

85181

In [22]:
result = result.drop_duplicates(subset=['car_id', 'model'], keep='first')

In [23]:
result.shape

(81921, 33)

In [24]:
result.head()

,brand,car_id,model,cylinders,transmission,drive_wheel,power,max_power_rpm,torque,max_torque_rpm,...,gear_r,gear_final,front_tire,rear_tire,eng_capacity,weight,height,width,length,wheelbase
0,Citroen,10296,Citroen C8 2.0i 16V Prestige 2008,"4, in line",5 speed manual transmission,front,138,6000 tpm,190 nm,4100 tpm,...,"3,33:1","4,43:1",215/60r16,215/60r16,1998 cc,1606 kg,1856 mm,1854 mm,4726 mm,2823 mm
1,Audi,93088,Audi R8 Spyder V10 Performance quattro 2016,"10, v engine",7 speed automatic,front+rear,620,8000 tpm,580 nm,6600 tpm,...,"2,65:1","3,59:1",245/35r19,295/35r19,5204 cc,1670 kg,1244 mm,1940 mm,4426 mm,2650 mm
2,Audi,93093,Audi R8 Coupe V10 Performance quattro 2016,"10, v engine",7 speed automatic,front+rear,620,8000 tpm,580 nm,6600 tpm,...,"2,65:1","3,59:1",245/35r19,295/35r19,5204 cc,1570 kg,1240 mm,1940 mm,4426 mm,2650 mm
3,Audi,80384,Audi R8 Spyder V10 Plus quattro 2016,"10, v engine",7 speed automatic,front+rear,610,8250 tpm,560 nm,6500 tpm,...,"2,65:1","3,59:1",245/35r19,295/35r19,5204 cc,1670 kg,1244 mm,1940 mm,4426 mm,2650 mm
4,Audi,69642,Audi RS7 Sportback 4.0 TFSI Performance quattr...,"8, v engine",8 speed automatic,front+rear,605,6100 tpm,750 nm,2500 tpm,...,"3,32:1","3,08:1",275/30r21,275/30r21,3993 cc,1905 kg,1419 mm,1911 mm,5012 mm,2915 mm

In [27]:
result.to_json('cars_data.json', orient='records')

We will output the resulting dataframe into cars_data.json so we can use it in future for analysis